extends layout

block content
  h1= StepSyncer
  p #{username}, you have been authorized for #{authorized}!  
  p Please log into your other application. 
  <input type="button" onclick=#{googlelink} value= "Log into #{val}" />
  